{
  "rules": {
    "import/no-unresolved": 2,
    "comma-dangle": [
      2,
      "always-multiline"
    ],
    "indent": [
      2,
      4,
      {
        "SwitchCase": 1
      }
    ],
    "no-console": 1,
    "max-len": 0,
    "prefer-template": 2,
    "no-use-before-define": 0,
    "newline-per-chained-call": 0,
  },
  "ecmaFeatures": {
    "globalReturn": true,
    "jsx": true,
    "modules": true
  },

  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },

  "globals": {
    "document": false,
    "escape": false,
    "navigator": false,
    "unescape": false,
    "window": false,
    "describe": true,
    "before": true,
    "it": true,
    "expect": true,
    "sinon": true
  },
  "plugins": [
    
  ]
}
