*.fbx filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.gif filter=lfs diff=lfs merge=lfs -text
*.3dm filter=lfs diff=lfs merge=lfs -text
*.max filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text

#3dsmax arechived scripts.
*.mzp filter=lfs diff=lfs merge=lfs -text 

*.png filter=lfs diff=lfs merge=lfs -text

# keep line endings LF
# https://docs.github.com/en/github/using-git/configuring-git-to-handle-line-endings
* text eol=lf