*.fbx filter=lfs diff=lfs merge=lfs -text
*.3dm filter=lfs diff=lfs merge=lfs -text
*.max filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.hdr filter=lfs diff=lfs merge=lfs -text
*.vlh filter=lfs diff=lfs merge=lfs -text
*.vla filter=lfs diff=lfs merge=lfs -text

#3dsmax arechived scripts.
*.mzp filter=lfs diff=lfs merge=lfs -text 

#filter the docs folder
*.png filter=lfs diff=lfs merge=lfs -text
docs/*.png -filter=lfs -diff=lfs -merge=lfs -text