.cover-main {
  color: #e0e0e0;
}

.download-section {
  display: flex;
  font-weight: bold;
}

.download-btn {
  cursor: pointer;
}

section.cover .cover-main > p:last-child a:last-child {
  background-color: #f9ce03;
  border-color: #f9ce03;
  color: #222323;
  font-weight: bold;
}

section.cover .cover-main > p:last-child a:last-child:hover {
  background-color: #fbe167;
  border-color: #fbe167;
  color: #222323;
  font-weight: bold;
  opacity: 1;
}

.cover-main .anchor span {
  color: #e0e0e0;
}

.markdown-section a,
.sidebar ul li.active > a {
  color: #965cb8;
}

footer div#copyright {
  margin-bottom: 1rem;
}

footer div#cc {
  display: flex;
  align-items: center;
}

footer div#cc img {
  margin-right: 1rem;
}

iframe {
  border: none !important;
}

.screenshot {
  box-shadow: 0 0 10px 0px grey;
}

.screenshot-medium {
  width: 750px;
  height: auto;

  box-shadow: 0 0 2px 0px grey;
}
.display-medium {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
}

/* Cards */
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 1rem;
}

.cardImg {
  width: 250px;
  height: 100px;
  min-height: 100px;
  object-fit: cover;
  object-position: -20% 0;
}

.card {
  max-height: 100;
  width: 250px;

  /* border: 2px solid #a33d3d;
  border-radius: 4px; */
  /* display: flex;
  -ms-flex-direction: column;
  flex-direction: column; */

  position: relative;

  color: #5d5e5e;
  padding: 0px 5px;

  transition: 0.3s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}
.cardTitle {
  font-size: 125%;
}
.cardText {
  top: -20px;
  position: relative;
  padding: 0px 0px;
  /* max-height: 30px; remove if 3 lines of text are needed */
}

/* 
  Large Cards 
*/
.cards-large {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 1rem;
}

.cardImg-large {
  width: 450px;
  height: 200px;
  min-height: 100px;
  object-fit: cover;
  object-position: -20% 0;
}

.card-large {
  max-height: 100;
  width: 450px;
  position: relative;

  color: #5d5e5e;
  padding: 0px 5px;

  transition: 0.3s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
}
.cardTitle-large {
  font-size: 150%;
}
.cardText-large {
  top: -10px;
  position: relative;
  padding: 0px 0px;
}

p:empty {
  background: #ff0000;
}
